.form-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    position: relative;
    top: 2rem;
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container p {
    margin: 10px 0 0;
    color: #555;
}
.register-class{
    color: #007bff;
    background-color: unset;
}